{% extends 'base.html' %}

{% block head_title %}
Add a New Loan
{% endblock head_title %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header text-center">
                    <h2>Add a New Loan</h2>
                </div>
                <div class="card-body">
                    <form method="POST" action="">
                        {% csrf_token %}
                        {{form.as_p}}
                        <button class="btn btn-outline-primary" type="submit">Submit Loan Data</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}